{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block main-title %}{{ title }}{% endblock %} - Webb's Crafting Gallery</title>
    <link rel="stylesheet" href="{% static "main_site/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "main_site/css/small.css" %}">
    <link rel="stylesheet" href="{% static "main_site/css/medium.css" %}">
    <link rel="stylesheet" href="{% static "main_site/css/large.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "main_site/img/favicon.png" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="{% static "main_site/js/menu.js" %}"></script>
    {% block addons %}{% endblock %}
</head>
<body>
    <div id="page">
        <header>
            <a href="{% url "index-page" %}"><img src="{% static "main_site/img/favicon.png" %}" alt="Logo"></a>
            <h1>{% block sub-title %}{{ title }}{% endblock %} - Webb's Crafting Gallery</h1>
        </header>
        <nav>
            <ul class="navigation">
                <li><a class="ham" href="#">&#9776; Menu</a></li>
                <li><a {% if '/home' in path %} id="thePage" {% endif %} href="{% url "index-page" %}">Home</a></li>
                <li><a {% if '/services' in path %} id="thePage" {% endif %} href="{% url "service-page" %}">Services</a></li>
                <li><a {% if '/contact' in path %} id="thePage" {% endif %} href="{% url "contact-page" %}">Contact</a></li>
                <li><a {% if '/projects' in path %} id="thePage" {% endif %} href="{% url "project-list" %}">Projects</a></li>
                <li><a {% if '/about' in path %} id="thePage" {% endif %} href="{% url "about-page" %}">About</a></li>
            </ul>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="footer-content">
                <p>&copy;2022 | Webb's Crafting Gallery</p>
                <a href="https://www.etsy.com/your/shops/JKWWoodWorks/onboarding/listings?ref=hdr-mcpa"><img src="{% static "main_site/img/etsy-custom-tmb.png" %}" alt="Etsy Page" width="50" height="50"></a>
            </div>
        </footer>
    </div>
    {% block addLoad %}{% endblock %}
</body>
</html>
