/* Tablet Size Viewports */
@media only screen and (min-width: 37em) {

    /* Code for the whole page */
    .frame-img img {
        max-width: 90%;
    }

    /* Code for the header */
    header {
        text-align: center;
    }

    /* Code for the main menu */
    nav ul {
        display: flex;
    }

    nav ul li {
        display: block;
        flex: 1 1 auto;
    }

    nav ul a {
        text-align: center;
    }

    nav ul li:first-child {
        display: none;
    }

    .ham {
        display: none;
    }

    /* Code for the main section */
    h2, h3, h4 {
        text-align: center;
        font-size: 1.6rem;
    }

    /* Code for the project list page */
    #project-list {
        grid-template-columns: 1fr 1fr;
    }

    /* Code for the image slides */
    .slide-container {
        max-width: 75%;
    }

    /* Code for the about page */
    .about-grid {
        grid-template-columns: 1fr 1fr;
    }

    .para-right {
        grid-column: 2 / span 2;
    }

    .img-left {
        grid-row: 2 / span 2;
    }

    /* Code for the service page */
    .img-center img {
        max-width: 60%;
    }
}
