{% extends "base.html" %}

{% load static %}

{% block addons %}
    <meta name="description" content="As a professional seamstress for 30 years, it was always rewarding to make people feel good and look good in their clothes. Now this love of creating and fixing has transformed into useful gifts and decorations.">
    <meta name="author" content="Webb's Crafting Gallery Team">
{% endblock %}

{% block content %}
    <section>
        <h2>About Me</h2>
        <div class="about-grid">
            <p>
                My artwork is using fabric, textiles, and tiles to
                decorate and beautify the world around me.
            </p>
            <div class="frame-img">
                <img src="{% static "main_site/img/item5-tmb.jpg" %}" alt="A Handbag">
            </div>
            <p class="para-right">
                As a professional seamstress for 30 years, it was
                always rewarding to make people feel good and look
                good in their clothes. Now this love of creating
                and fixing has transformed into useful gifts and
                decorations.
            </p>
            <div class="frame-img img-left">
                <img src="{% static "main_site/img/item4-tmb.jpg" %}" alt="Mini-Bags">
            </div>
        </div>
        <h3>Credit and Sources</h3>
        <p>This website is powered by <a href="https://www.djangoproject.com/">Python Django</a>.</p>
        <p>This website runs off of the <a href="https://gunicorn.org/">Gunicorn Web Server</a>.</p>
        <p>Background image for the website is made by Mungujakisa Edmond.</p>
        <p>
            The source code for this website has been made free and open source
            under the Apache 2.0 license and it can be view
            <a href="https://github.com/nwrocketman64/sewing-website">here</a>.
        </p>
    </section>
{% endblock %}
