{% extends "base.html" %}

{% load static %}

{% block addons %}
    <meta name="description" content="As a professional seamstress for 30 years, it was always rewarding to make people feel good and look good in their clothes. Here, you can see all the projects I am working on and you buy it from me. I also offer many other services which you can see on my services page.">
    <meta name="author" content="Webb's Crafting Gallery Team">
{% endblock %}

{% block addLoad %}
    <script src="{% static "main_site/js/slides_show.js" %}"></script>
{% endblock %}

{% block content %}
    {% if project %}
    <section>
        <h2>Come See My Latest Project</h2>
        <div class="slide-container">
            {% for image in project.images.all %}
            <div class="slides fade">
                <img src="{{ image.image.url }}" alt="{{ image.image_title }}">
                <div class="text fade">{{ image.image_title }}</div>
            </div>
            {% endfor %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <p class="project-title">{{ project.title }}</p>
        <p class="btn"><a href="{% url "project-details" project.slug %}">See More Details</a></p>
    </section>
    {% endif %}
    <section>
        <h2>Welcome</h2>
        <p>
            As a professional seamstress for 30 years, it was always
            rewarding to make people feel good and look good in
            their clothes. Here, you can see all the projects I am
            working on and you buy it from me. I also offer many
            other services which you can see on my services page.
        </p>
    </section>
    <section>
        <h2>Site Navigation</h2>
        <ul>
            <li><a href="{% url "service-page" %}">Services</a>: A list of all the services that I offer.</li>
            <li><a href="{% url "contact-page" %}">Contact</a>: If you have questions about a project or if you are in need of services, come here to get a hold of me.</li>
            <li><a href="{% url "project-list" %}">Projects</a>: Here is the list of projects that I've completed. Some of them can be purchased on Etsy or other websites.</li>
            <li><a href="{% url "about-page" %}">About</a>: More information about me.</li>
        </ul>
    </section>
{% endblock %}
