{% extends "base.html" %}

{% block content %}
    <section>
        <h2>Complete List of Projects</h2>
        <div id="project-list">
            {% for project in projects %}
            <div class="project-item">
                <img src="{{ project.image.url }}" alt="{{ project.title }}">
                <p>{{ project.title }}</p>
                <p class="btn"><a href="{% url "project-details" project.slug %}">More Details</a></p>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
