{% extends "base.html" %}

{% load static %}

{% block addLoad %}
    <script src="{% static "main_site/js/slides_show.js" %}"></script>
{% endblock %}

{% block main-title %}{{ project.title }}{% endblock %}
{% block sub-title %}{{ project.title }}{% endblock %}

{% block content %}
    <section>
        <h2>{{ project.title }}</h2>
        <p>Last Updated: {{ project.last_update }}</p>
        <div class="slide-container">
            {% for image in project.images.all %}
            <div class="slides fade">
                <img src="{{ image.image.url }}" alt="{{ image.image_title }}">
                <div class="text">{{ image.image_title }}</div>
            </div>
            {% endfor %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <h3>Description</h3>
        {{ project.description|linebreaks }}
        <p class="btn"><a href="{{ project.external_url }}">Learn More</a></p>
    </section>
{% endblock %}
